body{
    margin: 0px;
    background-color: rgb(30,30,30);
}
span{
    text-align: center;
}
h1{
    background-color: rgb(116, 76, 16);
    color: white;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
#base{
    border: 1px solid;
    width: 90%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 0px 25px 0px 25px;
    border: 3px double black;
    display: none;
}
#menu{
    border: 1px solid;
    width: 600px;
    height: 433px;
    background-color: aliceblue;
    border-radius: 0px 25px 0px 25px;
    border: 3px double black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#opcoes{
    border: 2px solid rgb(83, 0, 218);
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.op:hover{
    cursor: pointer;
}
.op{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
#palavra{
    max-width: 600px;
    width: 100%;
    height: 43px;
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.letra{
    width: 7.6%;
    height: 100%;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#texto{
    width: 43px;
    height: 43px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 40px;
    text-align: center ;
}
#enviar{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center ;
}
#btmenu{
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center ;
}
.bt:hover{
    cursor: pointer;
}
#maxErros{
    width: 250px;
    height: 43px;
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.erro{
    border: 1px solid black;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: red;
}
#erros{
    width: 70%;
    height: 100px;
    border: 1px solid;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#letraErrada{
    font-weight: normal;
}
#relogio{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2px;
    width: 50px;
    background-color: black;
    color: greenyellow;
    border: 1px unset;
}
#nomeSorteado{
    position: absolute;
    margin-top: 3%;
    margin-left: 4%;
}
#gameOver{
    position: absolute;
    width: 50%;
    height: 30%;
    border: 2px double black;
    background-color: rgba(41, 41, 41, 0.664);
    color: red;
    font-size: 50px;
    font-weight: bold;
    display: none;
    top: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    animation-name: piscag;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes piscag {
    to{
        box-shadow: 0px 0px 30px red;
    }
}
#youWin{
    position: absolute;
    width: 50%;
    height: 30%;
    border: 2px double black;
    background-color: rgba(41, 41, 41, 0.664);
    color: rgba(47, 255, 175, 0.726);
    font-size: 30px;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    top: 30%;
    margin-left: 25%;
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes pisca {
    to{
        font-size: 60px;
        color: rgb(30, 255, 0);
    }
}